[bing_api]
key = 'your bing account key'

[booze_gen]
types = ['Vodka', 'Gin', 'Ovocná', 'Rum', 'Whisky', 'Cognac', 'Jiná hnědka']
shops = ['La-vin', 'Top Alkohol', 'Makro', 'Alkohol CZ', 'Fivuza'] 
origins = ['Polsko', 'Rusko', 'Anglie', 'USA', 'Čechy', 'Slovensko', 'Irsko', 'Francie', 'Japonsko']   
tonics = ['Fever Tree', '1724', 'Thomas Henry', 'Schweppes', 'Schweppes Heritage']
