body            { font-family: sans-serif; background-color: #f0f0f0; }
a, h1, h2       { color: #61878B; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; margin-top: 6px;}

.page           { margin: 2em auto; width: 35em; border: none;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }

.flash          { background: #7A8A5D; color:#fff4e8 ;margin: 2em auto;  padding: 0.5em; width: 35em;}
.error          { background: #955252; color:#fff4e8 ;margin: 2em auto;  padding: 0.5em; width: 35em;}

.form_elem   {padding: 5px;}

.button {margin: 10px; background: #61878B; color:#fff4e8; border: none; padding: 10px;}
.button:hover {background: #60B1B7;}

.text {border:none; background-color: #f0f0f0;}
#smoothness_value {padding: 5px; width: 40%;}

input[type="range"], select {margin: 5px;}

img{max-width: 35em}
